.header_logo{
    width:100px;
    margin-top: 18px;
    margin-left: 20px ;
    margin-right: 20px;
    object-fit: contain;
}
.header{

    background-color: #131921;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    /*Means that nothing will be top level of this */
    z-index: 100;

}
.header_searchIcon{
    background-color: #cd9042;
    /* To style material-ui you need : !important */
    height: 32px !important;
}
.header_search{
    display: flex;
    /* search will ocupy the whole screen*/
    flex: 1;
}
.header_searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}
.header_nav{
    display: flex;
    justify-content: space-evenly;
}
.header_link{
color: white;
/* it removes underlines */
text-decoration: none;
}
.header_option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
.header_optionLineOne{
    font-size: 10px;
}
.header_optionLineTwo{
    font-size: 13px;
    /* makes bold */
    font-weight: 800;
}
.header_optionBasket{
    display: flex;
}
.header_basketCount{
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 525px) {
    .header_logo{
    width:30px;
    margin-top: 15px;
    margin-left: 10px ;
    margin-right: 20px;
    object-fit: contain; 
    }
  }