.product_rating{
    display: flex;
}

.product_button{
    text-align: center;
}

.product{
    display: flex;
    margin: 10px;
    background-color: white;
}

.product img{
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
}
.product_price{
    margin-top: 5px;
}

.product button{
    background-color: orange;
    border: 1px solid black;
}

@media screen and (max-width: 687px) {
    .product button {
      width: auto;
      height:40px;
    }
  }

  @media screen and (max-width: 1372px) {
    .product {
      width: 400px;
      height: 400px;
    }
  }
 